@import 'styles/variables';

.edit-task {
  padding: 1rem;
  input {
    border: none;
    flex: 1 1 80%;
    &:focus {
      outline: none;
    }
  }
  .save-btn {
    margin-top: 10px;
    flex: 1 1 20%;
    color: $blue;
    z-index: 10;
    background-color: inherit;
    &:hover {
      cursor: pointer;
    }
  }
}
