body {
  font-family: sans-serif;
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  appearance: none !important;
  border: none;
  &:active {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

.center-x-y {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
