@import "styles/_variables";

.tasks {
  &-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &-list {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  &-status {
    &-container {
      width: 100%;
      border-radius: 5px;
      text-align: left;
      padding: 0.5rem;
      &.complete {
        background-color: $green;
      }
    }
    &-message {
      padding: 1rem;
      color: $white;
      &-title {
        margin-top: 0;
        margin-bottom: 0.25rem;
      }
    }
  }
}
